<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip Card Example</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="city.jpg" atl="San Francisco at Night" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>San Francisco</h1>
            <p>The Golden State</p>
            <p>City Night Lights</p>
          </div>
        </div>
      </div> 
</body>
</html>